// Grays
// -------------------------
$black:             rgb(0, 0, 0);
$grayDarkest:       rgb(40, 40, 40);
$grayDark:          rgb(75, 75, 75);
$grayMedDark:       rgb(100, 100, 100);
$grayMed:           rgb(119, 119, 119);
$gray:              rgb(160, 160, 160);
$grayMedLight:      rgb(202, 202, 202);
$grayLight:         rgb(220, 220, 220);
$grayLighter:       rgb(230, 230, 230);
$grayLightest:      rgb(238, 238, 238);
$offWhite:          rgb(245, 245, 245);
$white:             rgb(255, 255, 255);

//Translucents

$translucent:       rgba(255,255,255,0.75);
$translucent-black: rgba(0,0,0,0.875);


// Default colors
// -------------------------
$mashRed:           rgb(175, 35, 40); // #af2328
$gold:              rgb(249, 179, 24); // #f9b318
$red:               rgb(237, 35, 38); // #ed2326
$redDark:           rgb(194, 33, 38); // #c22126
$blueFaded:         rgb(184, 219, 231); // #b8dbe7
$blue:              rgb(52, 197, 240); // #34c5fo
$blueDark:          rgb(0,139,206); // #008bce
$blueDarkest:       rgb(5,66,88); // #054258
$green:             rgb(116, 193, 103); // #74c167
$greenDark:         rgb(88, 152, 81); // #589851
$yellow:            rgb(249, 179, 24); // #f9b318 yellow-orange
$orange:            rgb(245, 135, 3); // #f58703
$pink:              rgb(252, 22, 90); // #fc165a
$purple:            rgb(190, 120, 190); // #be78be
$teal:              rgb(48, 188, 174); // #30bcae
$tealDark:          rgb(49, 155, 155); // #319b9b
$tealDarkest:       rgb(67, 89, 89); // #435959
